---
layout: default
title: 5 Call Keto Enhancement Package
---
<div class="text-container">
  <h1>5 Call Keto Enhancement Package</h1>
  <ul class="add-margin">
    <li>Full nutrition assessment</li>
    <li>Laboratory review
    <li>Evaluation of current ketogenic diet
    <li>Diet and supplement recommendations/revisions</li>
    <li>Glucose/ketone assessment
    <li>Up to 4 x 60-minute Zoom calls</li>
    <li>Close communication with dietitian throughout program (via email/chat)</li>
    <li>Package to be utilized over 60 days</li>
    <li>Investment: $1195 USD (payable in 1 or 2 installments)</li>
    <li>We do not offer refunds, but can adjust program structure if necessary</li>
  </ul>
  <div class="services-grid">
    <div class="service">
      <h2>Get Started with a Jump-Start Assessment Call</h2>
      {% include jump_start_body.html %}
    </div>
    <div class="service">
      <h2>Get Started with a Free Group Informational Call</h2>
      {% include free_group_call_body.html %}
    </div>
  </div>
</div>
