---
title: Advanced Ketogenic Therapies
layout: default
permalink: /
---
{% include other_home_page_items/hero_title_on_side.html %}
{% include community_waitlist.html %}
{% include other_home_page_items/resources_grid.html %}
<div class="announcement">
  <div class="container small">
    <p>Matt Baszucki was able to successfully manage severe bipolar disorder with the help of a ketogenic diet. See him share his story on <span><a href="https://www.today.com/health/mind-body/keto-diet-mental-health-dr-chris-palmer-rcna139262" target="_blank"><em>The Today Show</em></a>.</span></p>
  </div>
</div>
{% include other_home_page_items/media.html %}
{% include other_home_page_items/testimonials.html %}
{% include other_home_page_items/about.html %}
