---
title: Potter Dietitian Consulting
layout: default
permalink: /
---
<div class="hero">
  <div class="title-container">
    <h1>Professional Ketogenic Diet<br>Training and Coaching</h1>
    <a href="/services">See Our Available Services</a>
  </div>
</div>
<div class="home-grid-container">
  <div class="title-block">{% include title_block.html %}</div>
  <div class="see-services">{% include see_services.html %}</div>
  <div class="book"><img src="assets/images/migraine-book.png" alt="">{% include book_text.html %}</div>
</div>
