---
layout: default
title: Twelve-Call Premium Concierge Package
---
<div class="text-container">
  <h1>Twelve-Call Premium Concierge Package</h1>
  <ul class="add-margin">
    <li>Full nutrition assessment</li>
    <li>Ketogenic diet instruction:
      <ul>
        <li>Premium meal planning and schedule</li>
        <li>KetoDietCalculator access and training or modified keto training</li>
        <li>Gram scale and keto meter training</li>
        <li>Supplement recommendations</li>
      </ul>
    </li>
    <li>Laboratory recommendations and review</li>
    <li>Enhanced support:
      <ul>
        <li>Concierge service</li>
        <li>Night and weekend appointments</li>
        <li>Increased accountability and availability to assist you on your journey</li>
        <li>Close communication with dietitian throughout program (via email/chat/text)</li>
      </ul>
    </li>
    <li>Investment: $3225 USD (can be paid in one or four installments)</li>
    <li>We do not offer refunds, but can adjust program structure if necessary</li>
  </ul>
  <div class="services-grid">
    <div class="service">
      <h2>Get Started with a Jump-Start Assessment Call</h2>
      {% include jump_start_body.html %}
    </div>
    <div class="service">
      <h2>Get Started with a Free Group Informational Call</h2>
      {% include free_group_call_body.html %}
    </div>
  </div>
</div>
