---
layout: default
title: Our Team
---
<div class="container">
  <h1>Our Team</h1>
  <div class="team-grid">
    {% include people/denise.html %}
    {% include people/lisa.html %}
    {% include people/monica.html %}
    {% include people/christine.html %}
    {% include people/danielle.html %}
    {% include people/diana.html %}
    {% include people/erin.html %}
    {% include people/jaclyn.html %}
    {% include people/lauren.html %}
    {% include people/stephanie.html %}
    {% include people/marissa.html %}
  </div>
</div>

