<div class="hero">
  <div class="title-container center">
    <h1>Professional Ketogenic Diet<br>Training and Coaching</h1>
    <a class="button" href="{{ '/services' | relative_url }}">See Our Available Services</a><br>
    <a  class="button margin-top" href="{{ '/group_info_call' | relative_url }}">Free Group Informational Call</a>
    <p><a href="{{ '/assets/files/marketing_brochure_with_prices.pdf' | relative_url }}" target="_blank">Download AKT Brochure (pdf)</a></p>
  </div>
  <div class="video-container">
    <div class="video-wrapper">
      <iframe width="720" height="405" src="https://www.youtube.com/embed/c0bxbqoWFBo?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
</div>
