<div class="dark-hero home">
  <div class="container">
    <div class="socials">
      <ul>
        <li><a href="https://www.facebook.com/PotterDietitianConsulting/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="https://twitter.com/KetoPotterRDN" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/ketopotterrdn/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
      </ul>
    </div>
    <p class="center">Advanced Ketogenic Therapies is a team of expert registered dietitians trained in ketogenic metabolic therapy.</p>
  </div>
</div>
<div class="container">
  <div class="hero">
    <div class="video-container">
      <iframe width="468" height="274" src="https://www.youtube.com/embed/9AEtijV3WT0" title="AKT Welcome Video" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="title-container">
      <p>We coach clients who have been diagnosed with mental health conditions, epilepsy, migraines, and cancer to help reduce symptoms and improve quality of life by implementing and maintaining a therapeutic ketogenic diet.</p>
      <a class="button white" href="{{ '/services' | relative_url }}">Learn More</a>
    </div>
  </div>
</div>
