<div class="container small">
  <div class="resources-grid">
    <div class="mastery-image">{% include resources_grid_items/mastery_image.html %}</div>
    <div class="mastery-text text">{% include resources_grid_items/mastery_text.html %}</div>
    <div class="award-image">{% include resources_grid_items/metabolic_mind_image.html %}</div>
    <div class="award-text text">{% include resources_grid_items/metabolic_mind_text.html %}</div>
    <div class="book-image">{% include resources_grid_items/book_image.html %}</div>
    <div class="book-text text">{% include resources_grid_items/book_text.html %}</div>
  </div>
</div>
