<div class="testimonials center">
  <div class="container small">
    <div class="testimonials-outer-wrapper">
      <div id="left-arrow"><i class="fa-solid fa-angle-left"></i></div>
      <div class="testimonials-inner-wrapper">
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;Denise carefully assessed my son's health needs and crafted a personalized plan to help him reach his goals. Her 1-on-1 sessions provided an opportunity for in-depth education about the ketogenic diet, including food choices and meal planning. She offered emotional support and strategies to navigate hurdles. Regular check-ins allowed for adjustments based on progress and any emerging health concerns. AKT is one of the most experienced and talented groups providing ketogenic diet interventions.</p>
        </div>
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;The Charlie Foundation has been working alongside Denise Potter and Advanced Ketogenic Therapies to make a difference in the lives of people with epilepsy for over 10 years. Denise’s personalized approach and her compassionate team have helped many people regain control of their lives using Ketogenic Metabolic Therapy. It's inspiring to see how they're using nutrition to transform health and bring hope to those living with neurologic, psychiatric, endocrine and other conditions.</p>
        </div>
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;When I started looking for a keto dietitian to work with us for our daughter who has seizures, I did a LOT of research... I could tell from our initial conversations that she was the right person for us... realistic, optimistic, experienced, professional and also very personable. I don't think we could have found a better dietitian to work with. Keto Denise helps make this journey to better health so much more enjoyable and less daunting.</p>
        </div>
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;I really can’t think of any way things could have gone better. Monica was very knowledgeable, responsive to my questions and empathetic to my situation. I have referred Monica to several patients at our clinic.</p>
        </div>
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;Wow! Lauren fixed everything! She very kindly and carefully went over everything with me in detail. I feel so relieved !! She's terrific. An excellent educator. I feel all l set now - and excited about the diet again. This is such important work you do.  Thank you!!</p>
        </div>
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;I wanted to tell you how much I have loved working with Jaclyn. I think Keto really has helped my mood, and I can see myself staying on it permanently.</p>
        </div>
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;Stephanie Criteser is GREAT! She is just really, really wonderful.  Thank you!</p>
        </div>
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;My daughter was guided in the ketogenic diet by excellent dietitians Denise Potter and Stephanie Criteser as a treatment for her anorexia and she has seen remarkable progress in the 90 days or so she has been working with them both. I am extremely pleased with the results.</p>
        </div>
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;I have really enjoyed my time with Stephanie and look forward to our future sessions. This has been a life-changing experience, working with a dietitian for my mental health, and I am excited to keep moving forward for even more improvement.</p>
        </div>
        <div class="testimonial">
          <p><i class="fa-solid fa-quote-left"></i>&nbsp;&nbsp;Diana was very knowledgeable about the ketogenic diet and was able to direct my needs in the right direction. Whenever I had questions she was able to get back to me with answers immediately or soon after. My life is better now because of this program. Thank you all!</p>
        </div>
      </div>
      <div id="right-arrow"><i class="fa-solid fa-angle-right"></i></div>
    </div>
  </div>
</div>
