<div>
  <h2>The Migraine Diet Book</h2>
  <p>Discover a diet-based approach to treating chronic migraines. The <em>Migraine Diet</em> adapts the ketogenic diet (eating high fat and low carb foods to alter the way your body burns fuel) into a practical meal plan and cookbook that targets the causes of migraines. Relief is possible―and it tastes great.</p>
  <div><a class="button" href="https://www.amazon.com/dp/164152961X/ref=cm_sw_em_r_mt_dp_U_3DWYDbP57JYD4" target="_blank">Order on Amazon</a></div>
</div>
