<div>
  <img src="{{ '/assets/images/denise.png' | relative_url }}" alt="Denise Potter">
  <h2>Denise Potter, RDN, CSP, CDE</h2>
  <p>Denise has been a Registered Dietitian Nutritionist (RDN) for 31 years. For the past 15 years she has focused on Ketogenic Medical Nutrition Therapy. She has been privileged to speak to, train and educate professionals and individuals around the globe on therapeutic ketogenic therapies. She strives to provide client-centered, personalized therapy, counseling, and education. Denise has a passion for helping underserved populations benefit from the ketogenic diet. She authored <a href="https://www.amazon.com/dp/164152961X/ref=cm_sw_em_r_mt_dp_U_3DWYDbP57JYD4" target="_blank"><em>The Migraine Diet: A Ketogenic Meal Plan for Headache Relief</em></a>. <span class="nobreak"><a href="{{ '/assets/files/denise_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
