<div>
  <img src="{{ '/assets/images/diana.png' | relative_url }}" alt="Diana Lehner-Gulotta">
  <h2>Diana Lehner-Gulotta, RDN, CNSC</h2>
  <p>Diana is a registered dietitian at the University of Virginia Health System specializing in ketogenic diets for epilepsy and the nutritional care of pediatric neurology patients. She also has experience implementing ketogenic diets for adolescents and adults with multiple sclerosis, resulting in several peer-reviewed publications. As a Certified Nutrition Support Clinician, she enjoys working with medically complex clients. She has served consecutively on the board of both her local and state chapters of the Academy of Nutrition and Dietetics. <span class="nobreak"><a href="{{ '/assets/files/diana_cv.pdf' | relative_url }}">View CV</a></span></p>
</div>
