<div>
  <img src="{{ '/assets/images/erin.png' | relative_url }}" alt="Erin K. Waranch">
  <h2>Erin K. Waranch, MS, RDN, LD</h2>
  <p>Erin has been a pediatric clinical dietitian for the past 7 years. She specializes in ketogenic diet therapy for conditions like pediatric epilepsy, infantile spasms, glut-1 deficiency and pyruvate dehydrogenase deficiency. Erin enjoys individualizing nutrition plans for her patients to help them be as successful as possible. She has a passion for teaching people about how nutrition can improve long term health outcomes. <span class="nobreak"><a href="{{ '/assets/files/erin_cv.pdf' | relative_url }}">View CV</a></span></p>
</div>
