<footer>
  <div class="footer-grid">
    <div>
      <h2>Potter Dietitian Consulting</h2>
      <a class="contact" href="https://forms.gle/CLZ4vezKYdxpa6s37" target="_blank">Questions? Contact us</a>
    </div>

    <div>
      {% include navigation.html %}
    </div>

    <div>
      <ul>
        <li><a href="https://twitter.com/KetoPotterRDN" target="_blank">Twitter</a></li>
        <li><a href="https://www.instagram.com/ketopotterrdn/" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/PotterDietitianConsulting/" target="_blank">Facebook</a></li>
      </ul>
    </div>
  </div>
  <p>©<span id="year"></span> Potter Dietitian Consulting, LLC</p>
</footer>
