<div class="title-container center">
  <h1>Professional Ketogenic Diet Training and Coaching </h1>
  <a class="button" href="{{ '/services' | relative_url }}">See Our Available Services</a>
</div>
<div class="hero">
  <div class="center">
    <div class="class-wrapper">
      <h2>Modified Keto Class for Autism: July 13, 20, 27, August 3
      <h3>Taught by Stephanie Criteser and Denise Potter</h3>
      <p class="center add-margin"><a class="button" href="https://secure.gethealthie.com/appointments/embed_appt?dietitian_id=755529&require_offering=true&provider_ids=[755529]&offering_ids=[132237,132238]&hide_embed_title=true&hide_package_images=false&primary_color=23164a" target="_blank">Sign up now!</a>
      <p class="center"><a href="https://forms.gle/fs5kbhNYvgq9JAMF6" class="button" target="_blank">Join waitlist for fall classes</a>
      </p>
    </div>
  </div>
    <div class="video-container">
      <div class="video-wrapper">
        <iframe width="720" height="405" src="https://www.youtube.com/embed/pc3fTlrwpUs?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
