<div class="hero">
  <div class="title-container center">
    <h1>Professional Ketogenic Diet<br>Training and Coaching</h1>
    <a class="button" href="{{ '/services' | relative_url }}">See Our Available Services</a>
    <p class="center"><a href="https://forms.gle/fs5kbhNYvgq9JAMF6" class="button" target="_blank">Join waitlist for fall classes</a>
    </p>
  </div>
    <div class="video-container">
      <div class="video-wrapper">
        <iframe width="720" height="405" src="https://www.youtube.com/embed/7WaurYM9_RY?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
