<div>
  <img src="{{ '/assets/images/jaclyn.png' | relative_url }}" alt="Jaclyn A. Makovich">
  <h2>Jaclyn A. Makovich, RD, LD</h2>
  <p>Jaclyn has been a Clinical Dietitian at the Medical University of South Carolina since 2016 and a Registered Dietitian for 10 years. She has provided nutrition care in both adult and pediatric in different specialty areas such as ketogenic therapy, gastroenterology, nutrition support and more. She now works solely with the ketogenic therapy in pediatric and adult patients and loves to see the improvements in peoples’ quality of life.  Jaclyn specializes in working with patients and their families to personalize ketogenic therapy to meet their lifestyle and individual needs. <span class="nobreak"><a href="{{ '/assets/files/jaclyn_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
