<div>
  <img src="{{ '/assets/images/lisa.jpg' | relative_url }}" alt="Lisa Vanatta">
  <div>
    <h2>Lisa Vanatta, MS, RDN, CSP</h2>
    <p>Lisa has been a ketogenic pediatric clinical dietitian at Barrow Neurological institute at Phoenix Children’s Hospital (PCH) for over 20 years. There she has primarily focused on Newborn Intensive Care, gaining experience in cystic fibrosis, bronchopulmonary dysplasia, and renal disease and is their ketogenic program coordinator. She co-authored <a href="https://www.bethzupeckania.com/product-page/pocket-guide-ketogenic-diet-therapies-for-neurological-disorders" target="_blank"><em>Ketogenic Diet Therapies for Neurological Disorders Pocket Guide</em></a>. <a href="{{ '/lisa_cv' | relative_url }}">View CV</a></p>
  </div>
</div>
