.footer-grid {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  gap: 6vw;
}

footer  {
  background: $plum;
  padding: 6vw 4vw;
  color: white;
  a {
    color: white;
  }
  ul {
    margin: 0;
    list-style-type: none;
    li a {
      line-height: 2;
    }
  }

  h2 {
    font-size: 1.3em;
    margin-top: 0;
    margin-bottom: 30px;
  }

  a.contact {
    display:inline-block;
    background: white;
    color: $darkGrey;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 20px;
    white-space: nowrap;
    &:hover {
      background: $offWhite;
    }
    &:active, &:visited {
      color: $darkGrey;
    }
  }

  nav .logo,
  nav .toggle {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  footer {
    padding-bottom: 4vw;
  }

  .footer-grid {
    grid-template-columns: 1fr 1fr;

    div:nth-child(1) {
      text-align: center;
      grid-column: 1 / span 2;
    }

    div:nth-child(2) {
      grid-column: 1 / span 1;
    }

    div:nth-child(3) {
      grid-column: 2 / span 1;
    }
  }

  footer p {
    text-align: center;
  }
}

@media only screen and (min-width: 1000px) {
  footer {
    padding: 6vw 8vw;
  }
}

@media only screen and (min-width: 1600px) {
  footer {
    padding: 6vw 10vw;
  }
}

@media only screen and (min-width: 2000px) {
  footer {
    padding: 6vw 14vw;
  }
}
