.services-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
}

.service {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto 51px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.075);
  border-radius: 4px;
  padding: 1px 25px 35px;
  h2 {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
  p, ul {
    margin-bottom: 25px;
  }
}

.service.one-hour {
  grid-template-rows: auto auto min-content;
  .button.white {
    width: 100%;
  }
}

@media only screen and (max-width: 1340px) {
  .services-container {
    max-width: 850px;
  }
}

@media only screen and (max-width: 890px) {
  .services-container {
    max-width: 400px;
  }
}

@media only screen and (max-width: 440px) {
  .services-grid {
    display: block;
    width: auto;
    .service {
      width: 100%;
      margin-bottom: 25px;
    }
  }
}
