.services-container {
  width: 1300px;
  margin: 0 auto;
}

.services-grid {
  display: grid;
  gap: 50px;
  margin: 50px 0;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-flow: dense;
}

.service {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto 50px;
  border: 1px solid darkgrey;
  padding: 1px 25px 25px;
  h2 {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1340px) {
  .services-container {
    margin: 0 4vw;
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .services-container {
    margin: 0 5.5vw;
  }
}

@media only screen and (max-width: 450px) {
  .services-grid {
    display: block;
    .service {
      margin-bottom: 25px;
    }
  }
  .services-container {
    margin: 0 4vw;
  }
}
