.testimonials {
  background: $offWhite;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  max-width: 750px;
  position:relative;
  animation: animateright 2s;
  p {
    margin-top: 0;
  }
}

@keyframes animateright {
  from {
    right: -50%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.fa-quote-left {
  font-size: 3rem;
  color: $lightBackground;
}
