.testimonials {
  background: $offWhite;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    padding: 20px 30px 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

.testimonial {
  max-width: 750px;
  position:relative;
  animation: animateright 2s;
  p {
    margin: 0;
  }
}

@keyframes animateright {
  from {
    right: -50%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

.fa-quote-left {
  font-size: 3rem;
  color: $lightBackground;
}

@media only screen and (max-width: 600px) {
  .testimonials {
    height: 460px;
  }
}

@media only screen and (max-width: 500px) {
  .testimonials {
    height: 580px;
  }
}

@media only screen and (max-width: 400px) {
  .testimonials {
    height: 650px;
  }
}
