.video-outer {
  background: $offWhite;
}

.video-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(2, 1fr);
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .video-grid {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
