<div>
  <img src="{{ '/assets/images/christine.png' | relative_url }}" alt="Christine Wheeler">
  <h2>Christine Wheeler, MS, RDN, CSP</h2>
  <p>Christine is a Registered Dietitian with board certification in pediatric nutrition. She has worked in the nutritional management of children and adults with a variety of healthcare concerns, specializing in ketogenic therapies since 2010. She is passionate about optimizing health with nutrition and other lifestyle factors. Christi was the Primary Investigator and author of <em>Efficacy and tolerability of a whey-based, medium-chain triglyceride enhanced ketogenic formula in children with refractory epilepsy: A retrospective study</em>. <span class="nobreak"><a href="{{ '/assets/files/christine_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
