<div>
    <img src="{{ '/assets/images/danielle.png' | relative_url }}" alt="Danielle Eller">
    <h2>Danielle Eller, MS, RDN, CSP, CDN </h2>
    <p>Danielle is a Registered Dietitian with board certification in pediatric nutrition. She has been a pediatric clinical dietitian at NewYork Presbyterian Morgan Stanley Children's Hospital for 6 years. Danielle has worked in a variety of settings including inpatient ICUs and inpatient cardiac care. Her primary focus is in pediatric epilepsy, specializing in the ketogenic diet and has expanded her practice to work with all ages and various neurological conditions. She has a passion for helping families achieve great success with ketogenic therapy. <span class="nobreak"><a href="{{ '/assets/files/danielle_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
