<div>
    <img src="{{ '/assets/images/danielle.png' | relative_url }}" alt="Danielle Eller">
    <h2>Danielle Eller, MS, RDN, CSP, CDN </h2>
    <p>Danielle is a Registered Dietitian and board-certified specialist in pediatric nutrition with over 12 years of experience, including more than eight years at NewYork-Presbyterian Morgan Stanley Children’s Hospital, where she focused on pediatric epilepsy and ketogenic therapy. She now applies her expertise to support individuals of all ages with conditions such as epilepsy, cancer, and psychiatric disorders through tailored ketogenic diets, while remaining actively involved in research and committed to helping patients and families achieve sustainable outcomes through evidence-based nutrition care. <span class="nobreak"><a href="{{ '/assets/files/danielle_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
