<div>
  <img src="{{ '/assets/images/emily.png' | relative_url }}" alt="Emily Samuels">
  <h2>Emily Samuels, MS, RDN, CSP, LD</h2>
  <p>Emily is a Registered Dietitian Nutritionist (RDN) with over 15 years of experience. She has worked as a dietitian for over 10 years with ketogenic diet therapy and also with food allergies, gastrointestinal disorders and enteral nutrition (tube feeding). Conditions she works with to utilize ketogenic metabolic therapy include neurological conditions, cancer, epilepsy, migraines, metabolic disease, psychiatric disorders and autism. Emily has a passion for ketogenic metabolic therapies and thrives to provide individualized care to promote an improved quality of life to clients and their families. <span class="nobreak"><a href="{{ '/assets/files/emily_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
