<div>
  <img src="{{ '/assets/images/erin.png' | relative_url }}" alt="Erin K. Waranch">
  <h2>Erin K. Waranch, MS, RDN, LD</h2>
  <p>Erin is a clinical dietitian with 10 years of experience in the field. She specializes in ketogenic diet therapy for conditions such as pediatric epilepsy, infantile spasms, GLUT1 deficiency, and pyruvate dehydrogenase deficiency. Her expertise also includes applying ketogenic therapy to support both adults and children with cancer, psychiatric and memory disorders, and other complex neurological conditions. Erin is dedicated to developing personalized nutrition plans that help patients achieve their best possible outcomes. She is passionate about educating others on the powerful role nutrition can play in long-term health and disease management. <span class="nobreak"><a href="{{ '/assets/files/erin_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
