<div>
  <img src="{{ '/assets/images/lauren.png' | relative_url }}" alt="Lauren Kronisch">
  <h2>Lauren Kronisch, MS, RDN, LD</h2>
  <p>Lauren been has specialized in providing Ketogenic Medical Nutrition Therapy for over eight years treating people of all ages with conditions including epilepsy, pyruvate dehydrogenase deficiency complex, glucose transport deficiency syndrome, Rett syndrome and related disorders. For the last six years, she has worked in a top 10 children's hospital in the ketogenic diet clinic setting as well as in various hospital units, including intensive care and neurology intensive care. She also has extensive experience in treating children with food allergies. <span class="nobreak"><a href="{{ '/assets/files/lauren_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
