<div>
  <img src="{{ '/assets/images/lindsay.png' | relative_url }}" alt="Lindsay Krupp">
  <h2>Lindsay Krupp, RDN</h2>
  <p>With 18 years of experience as a Registered Dietitian, Lindsay has a diverse background in nutritional therapy. Her practice is currently focused on ketogenic diet therapy and she is passionate about treating and educating clients on how to individualize the diet to help them feel better. Previously, she gained extensive experience working with both adults and pediatrics with a variety of conditions including eating disorders, enteral nutrition, feeding/swallowing disorders, and bariatric surgery. <span class="nobreak"><a href="{{ '/assets/files/lindsay_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
