<div>
  <img src="{{ '/assets/images/lindsay.png' | relative_url }}" alt="Lindsay Krupp">
  <h2>Lindsay Krupp, RDN</h2>
  <p>As a Registered Dietitian, Lindsay is driven by a passion for educating and empowering her clients to achieve optimal health through nutrition. Specializing in ketogenic metabolic diet therapies, Lindsay brings a wealth of expertise to both adult and pediatric clients. She is dedicated to demystifying complex dietary approaches, providing compassionate support and practical tools to help clients successfully implement these therapies and reach their desired outcomes for both physical and mental health. <span class="nobreak"><a href="{{ '/assets/files/lindsay_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
