<div>
  <img src="{{ '/assets/images/marisa.png' | relative_url }}" alt="Marisa Armeno">
  <h2>Marisa Armeno, MD, PhDc</h2>
  <p>Marisa is a physician specializing in clinical nutrition, focusing on ketogenic therapies since 2010. She has provided nutritional treatment for adults and children with obesity and a variety of neurological disorders, including epilepsy, GLUT1-DS, PDCD, and psychiatric conditions. She is passionate about optimizing health with nutritional interventions and studying metabolism. Marisa has recently completed her PhD in ketogenic therapies with a focus on new clinical applications. She is currently training and educating professionals in therapeutic ketogenic therapies. She can provide care in English or Spanish. <span class="nobreak"><a href="{{ '/assets/files/marisa_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
