<div>
  <img src="{{ '/assets/images/marisa.png' | relative_url }}" alt="Marisa Armeno">
  <h2>Marisa Armeno, MD, PhDc</h2>
  <p>Dr. Armeno is a physician specialized in Clinical Nutrition and holds a Ph.D. in Medicine, with over 15 years of experience in ketogenic therapies for epilepsy, mental health, brain tumors, and metabolic disorders. She has trained healthcare professionals across Latin America, created therapeutic recipes and meal plans. Her areas of expertise include ketogenic therapies for epilepsy in both children and adults, metabolic therapy for mental health and mood disorders, nutritional support in oncology, ketogenic interventions for young adults and transitional care, and therapies for autism spectrum disorder and obesity. <span class="nobreak"><a href="{{ '/assets/files/marisa_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
