<div>
  <img src="{{ '/assets/images/monica.png' | relative_url }}" alt="Monica McChesney">
  <h2>Monica McChesney, MS, RDN, LD</h2>
  <p>Monica has been a pediatric clinical dietitian at Children's of Alabama for the past 8 years. She has worked in a variety of settings including inpatient rehabilitation and gastroenterology, but her primary focus is in neurology, specializing in the ketogenic diet. She has worked with a variety of neurological disorders, including epilepsy, glucose transporter type 1 deficiency syndrome, pyruvate dehydrogenase complex deficiency, along with many others. She has a true passion for the diet, as well as for the patients and families she serves. <span class="nobreak"><a href="{{ '/assets/files/monica_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
