<div>
  <img src="{{ '/assets/images/stephanie.png' | relative_url }}" alt="Stephanie Criteser">
  <h2>Stephanie Criteser, RD, CSP</h2>
  <p>Stephanie is a Registered Dietitian with 12 years experience in a variety of inpatient and outpatient settings. She is board certified as a Specialist in Pediatric Nutrition, and honed her expertise in the ketogenic diet at Children's Hospital Colorado. There, she helped patients with various neurological and metabolic disorders and their families develop, implement and sustain ketogenic diet care plans tailored to their needs. She enjoys working with adults and children with a broad range of medical conditions. Stephanie's passion is educating and empowering patients to achieve an improved quality of life using food as medicine. <span class="nobreak"><a href="{{ '/assets/files/stephanie_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
