<div>
  <img src="{{ '/assets/images/stephanie.png' | relative_url }}" alt="Stephanie Criteser">
  <h2>Stephanie Criteser, RDN, CSP</h2>
  <p>Stephanie is a Registered Dietitian with over 14 years of experience in inpatient and outpatient care. She is board certified as a Specialist in Pediatric Nutrition and gained expertise in ketogenic therapy at Children’s Hospital Colorado, supporting children with neurological and metabolic disorders. In recent years, her work at Advanced Ketogenic Therapies has focused on adults with psychiatric conditions, helping them use ketogenic therapy as part of an integrative treatment approach. Stephanie is passionate about empowering individuals to improve their health and quality of life through food as medicine. <span class="nobreak"><a href="{{ '/assets/files/stephanie_cv.pdf' | relative_url }}" target="_blank">View CV</a></span></p>
</div>
