<footer>
  <div class="container">
    <div class="footer-grid">
      <div>
        <h2>Advanced Ketogenic Therapies</h2>
        <a class="contact" href="https://docs.google.com/forms/d/e/1FAIpQLSexPaHW_zMD7oBiNGBSh_mvJbMrBn4CLGQ36OCQIAKrDyQ5Mg/viewform" target="_blank">Questions? Contact us</a>
      </div>
      <div>
        {% include header_footer_items/footer_navigation.html %}
      </div>
      <div class="socials">
        <ul>
          <li><a href="https://www.facebook.com/PotterDietitianConsulting/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a></li>
          <li><a href="https://www.linkedin.com/company/advanced-ketogenic-therapies/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/advancedketogenictherapies/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <p class="copyright">©<span id="year"></span> Advanced Ketogenic Therapies, LLC</p>
  </div>
</footer>
