<!DOCTYPE html>
<html lang="en">
<head>
  <!-- TODO: Remove noindex -->
  <meta name="robots" content="noindex">
  <!-- TODO: Remove noindex -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" type="image/ico" href="{{ site.url }}/assets/images/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
  <link rel="stylesheet" href="{{ site.url }}/assets/css/style.css">
  {% seo %}
</head>
<body>
  {% include navigation.html %}
  {{ content }}
  <script src="{{ site.url }}/assets/js/nav.js"></script>
</body>
</html>
